<div>
    <h2>Who we are and what we do?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora ratione et, a harum totam, asperiores veritatis, repellat consectetur voluptatum quas, repudiandae. Reprehenderit amet, magnam eligendi eveniet doloribus ea neque fuga.</p>
    <h2>Open Registries</h2>
    <div class="row">
        <ul id="open-registries" class="list-group">
            <li class="list-group-item" ng-repeat="registry in openRegistries">{{ registry.name }}</li>
        </ul>
        <div ng-if="openRegistries.length == 0" class="alert alert-dismissible alert-info">
            No open registries defined.
        </div>
    </div>
</div>